<div class="office-supplies">
    <div class="flex py-5">
        <div class="login">
            <form [formGroup]="loginForm">
                <h3>Đăng nhập</h3>
                <p>Nếu bạn chưa có tài khoản, đăng ký <span routerLink="/sign-up">Tại đây</span></p>
                <input class="w-22rem block m-3" type="text" pInputText placeholder="Email" formControlName="email" />

                <div class="card flex justify-content-center block m-3">
                    <p-password
                        styleClass=""
                        [toggleMask]="true"
                        [feedback]="false"
                        placeholder="Mật khẩu"
                        formControlName="password"
                    ></p-password>
                </div>
                <p-button (onClick)="login()" styleClass="m-3" label="Đăng nhập"></p-button>

                <p><span routerLink="/forgot-password">Quên mật khẩu</span></p>
            </form>
        </div>
    </div>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
