<div class="office-supplies">
    <div class="flex py-5">
        <div class="login">
            <h3>Đăng nhập</h3>
            <p>Nếu bạn chưa có tài khoản, đăng ký <span routerLink="/sign-up">Tại đây</span></p>
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Tên đăng nhập" />
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Mật khẩu" />
            <p-button styleClass="m-3" label="Đăng nhập"></p-button>

            <p><span routerLink="/forgot-password">Quên mật khẩu</span></p>
        </div>
    </div>
</div>
