<div class="width">
    <div class="product-filter flex">
        <div class="card flex product-filter">
            <p-overlayPanel styleClass="product-filter-range" #op>
                <h4>CHỌN GIÁ TRONG KHOẢNG:</h4>

                <div class="card flex justify-content-center mb-5 align-items-center">
                    <p-inputNumber
                        (onInput)="setFilterPrice()"
                        [min]="0"
                        [max]="10000000"
                        (keydown)="onKeyDownHandler($event)"
                        inputId="integeronly"
                        [(ngModel)]="priceMin"
                    >
                    </p-inputNumber>
                    ------------
                    <p-inputNumber
                        (onInput)="setFilterPrice()"
                        [min]="0"
                        [max]="10000000"
                        (keydown)="onKeyDownHandler($event)"
                        inputId="integeronly"
                        [(ngModel)]="priceMax"
                    >
                    </p-inputNumber>
                </div>
                <div class="card flex">
                    <p-slider
                        class="w-full"
                        [(ngModel)]="rangeValues"
                        [min]="1000"
                        [max]="10000000"
                        [range]="true"
                        (onChange)="setMinMaxFilter()"
                    ></p-slider>
                </div>

                <div class="card flex justify-content-center pt-6">
                    <p-button (click)="op.toggle($event)" label="Áp dụng"></p-button>
                </div>
            </p-overlayPanel>
            <p-button (click)="op.toggle($event)" icon="pi pi-angle-down" iconPos="right" label="GIÁ"></p-button>
        </div>

        <div class="product-filter-show">
            <h3>GIÁ ÁP DỤNG TỪ: {{ priceMin | number }} - {{ priceMax | number }} VND</h3>
        </div>
    </div>

    <div class="products product-view">
        <div class="content">
            <div *ngIf="pageType == null" class="header">
                <h3 class="title">SẢN PHẨM MỚI VỀ</h3>
            </div>

            <div *ngIf="pageType == 'cart'" class="header">
                <h3 class="title">SẢN PHẨM KHÁC</h3>
            </div>
            <div class="list">
                <div class="item" (click)="productDetail(item.id)" *ngFor="let item of products; let i = index">
                    <img src="{{ item.imageURL }}" alt="Ảnh sản phẩm" class="product-img" />
                    <div class="body">
                        <h4 class="line-clamp">
                            {{ item.productName }}
                        </h4>
                        <span class="price"> {{ item.price | number : '1.0-3' }} VND </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card flex justify-content-center m-2" *ngIf="pageType">
            <p-paginator
                (onPageChange)="loadProducts($event)"
                [first]="first"
                [rows]="8"
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[15, 30, 45]"
            ></p-paginator>
        </div>
    </div>
</div>
