<div class="office-supplies">
    <div class="products">
        <div class="width">
            <p-divider align="center">
                <span class="p-tag">DÀNH RIÊNG CHO BẠN</span>
            </p-divider>
            <div class="products-content">
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                    <div class="tilte"><p>Bàn phím</p></div>
                    <p><b>345666 VND</b></p>
                </div>
                <div class="col-3">
                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                    <div class="tilte"><p>Chuột gaming</p></div>
                    <p><b>345666 VND</b></p>
                </div>
            </div>
            <div class="flex justify-content-center pb-3">
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="first"
                    [rows]="rows"
                    [totalRecords]="120"
                    [rowsPerPageOptions]="[10, 20, 30]"
                ></p-paginator>
            </div>
        </div>
    </div>
</div>
