<div class="office-supplies">
    <div class="products">
        <div class="width">
            <p-divider align="center">
                <span class="p-tag">SẢN PHẨM</span>
            </p-divider>
            <div class="products-content">
                <div class="col-3" *ngFor="let item of products">
                    <div (click)="productDetail(item.id)">
                        <img src="{{ item.imageURL }}" alt="" />
                        <div class="tilte">
                            <p class="text-overflow">{{ item.productName }}</p>
                        </div>
                        <p>
                            <b>{{ item.price | number : '1.0-3' }} VND</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card flex justify-content-center m-2" *ngIf="pageType">
                <p-paginator
                    (onPageChange)="loadProducts($event)"
                    [first]="first"
                    [rows]="8"
                    [totalRecords]="totalRecords"
                    [rowsPerPageOptions]="[15, 30, 45]"
                ></p-paginator>
            </div>
        </div>
    </div>
</div>
