<div class="office-supplies">
    <div class="contact">
        <div class="width">
            <div class="grid flex">
                <div class="col contact-left">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.8835604266325!2d106.78676369817711!3d10.848082878206538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752772b245dff1%3A0xb838977f3d419d!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCQ1ZUIGPGoSBz4bufIHThuqFpIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1688572164264!5m2!1svi!2s"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>

                <div class="col contact-right">
                    <h4>Hệ thống đại lý</h4>
                    <ul>
                        <li><i class="pi pi-map-marker"></i>Hồ Chí Minh</li>
                        <li><i class="pi pi-map-marker"></i>Hà Nội</li>
                    </ul>

                    <h4>Liên hệ với chúng tôi</h4>
                    <p>
                        Văn phòng phẩm <b>Office Supplies</b> chuyên cung cấp các mặt hàng Văn phòng phẩm, Vật tư Văn
                        phòng, Ấn phẩm văn phòng… cho các công ty, Cơ quan,trường học, Bệnh Viện… tại Hà Nội. Với phương
                        châm “Nhanh nhất và rẻ nhất” cùng đội ngũ nhân viên nhiệt tình, thân thiện Chúng Tôi hy vọng sẽ
                        mang đến sự hài lòng cho Quý khách.
                    </p>
                    <ul>
                        <li>
                            <i class="pi pi-map-marker"></i>97 Man Thiện - Hiệp Phú - Quận 9 - TP.Thủ Đức - Hồ Chí Minh
                        </li>
                        <li>
                            <i class="pi pi-mobile"></i
                            ><a class="no-underline text-color" href="tel:0123456789">0989828527</a>
                        </li>
                        <li>
                            <i class="pi pi-envelope"></i
                            ><a class="no-underline text-color" href="mailto:duongvantinh07072015@gmail.com"
                                >duongvantinh07072015@gmail.com</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
