<div class="office-supplies-admin">
    <div class="products-admin">
        <div class="title">
            <h2><i class="pi pi-stop-circle"></i>Danh sách sản phẩm</h2>
        </div>

        <div class="products">
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />

                <div class="flex justify-content-end">
                    <p>Chuột gaming</p>
                    <p-button
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised m-2"
                    ></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
