.product-view .content {
    padding-top: 10px;
}

.product-view .list {
    margin-top: 0 !important;
}

.product-view .list .item {
    width: 19%;
    background: #ffffff;
    border-radius: 6px;
    position: relative;
}

.product-view .list .item .body {
    padding: 10px;
}

.product-view {
    background: linear-gradient(90deg, #ffecd2 0%, #b1d4f1 100%);
    border-radius: 12px;
}

.products-admin {
    .products {
        display: flex;
        flex-wrap: wrap;
        color: var(--text-color);
        min-height: 556px;
    }
    .col-3 {
        width: calc(25% - 10px);
        height: 268px;
        cursor: pointer;
        display: inline-block;
        background-color: white;
        margin: 5px;
        padding: 0;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
        p {
            width: 178px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .col-3:hover {
        opacity: 0.9;
    }
}
