<div class="office-supplies">
    <div class="introduce">
        <div class="width">
            <h3>Giới thiệu</h3>
            <p>
                <b>Office Supplies</b> là một cửa hàng chuyên cung cấp các sản phẩm văn phòng phẩm chất lượng cao với
                giá cả hợp lý. Tại cửa hàng chúng tôi, bạn sẽ tìm thấy một đa dạng các sản phẩm văn phòng phẩm như bút,
                giấy, sổ tay, bìa hồ sơ, dụng cụ vẽ và rất nhiều sản phẩm khác.
            </p>
            <p>
                Chúng tôi cam kết cung cấp cho khách hàng những sản phẩm chất lượng nhất từ các thương hiệu uy tín trên
                thị trường. Chúng tôi hiểu rằng sản phẩm văn phòng phẩm đóng vai trò quan trọng trong các hoạt động văn
                phòng, do đó chúng tôi luôn đặt chất lượng sản phẩm lên hàng đầu.
            </p>
            <p>
                Ngoài ra, với đội ngũ nhân viên giàu kinh nghiệm và chuyên nghiệp, chúng tôi cam kết mang đến cho khách
                hàng trải nghiệm mua sắm tuyệt vời, từ sự tư vấn nhiệt tình đến dịch vụ giao hàng nhanh chóng và đáng
                tin cậy.
            </p>
            <p>
                Hãy đến với <b> Office Supplies</b> để trang bị cho mình những sản phẩm văn phòng phẩm chất lượng cao và
                giúp cho công việc của bạn trở nên hiệu quả hơn. Chúng tôi cam kết sẽ luôn là địa chỉ tin cậy cho các
                nhu cầu văn phòng phẩm của bạn!
            </p>
            <p>
                <b> Office Supplies</b> cung cấp hàng nghìn sản phẩm văn phòng phẩm đa dạng, giá sỉ uy tín nhằm phục vụ
                tốt nhất các nhu cầu của khách hàng như:
            </p>
            <ul>
                <li>
                    Giấy in/photo các loại: Giấy in – photo A4, Giấy in liên tục, Giấy note – phân trang, Giấy bìa màu –
                    Giấy than – Giấy decal. File đựng hồ sơ : Bìa lá – Bìa trình ký – Bìa kiếng, Bìa còng – bìa hộp –
                    bìa 3 dây, Bìa nhựa – Bìa phân trang – Bìa lỗ, kệ rổ – kệ tầng mica – Hộp cắm viết.
                </li>
                <li>
                    Sổ – Tập – Chứng từ: Sổ các loại, Tập vở – Bao thư, Sổ Namecard, Phiếu thu chi, phiếu nhập xuất,
                    giấy giới thiệu…
                </li>
                <li>Bàn phím - Chuột - Màn hình laptop..</li>
                <li>Sách - Giấy in - Dụng cụ học sinh, sinh viên.</li>
            </ul>
        </div>
    </div>
</div>
