<div class="office-supplies">
    <div class="promotion">
        <div class="width">
            <p-divider align="center">
                <span class="p-tag">Mã giảm giá giành cho bạn</span>
            </p-divider>

            <div class="voucher">
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col3 flex">
                    <img src="https://inhungphat.com/Uploads/2132/images/DICH%20VU/price-tag.png" alt="" />
                    <div class="voucher-content">
                        <div>
                            <h4>Giảm 50K</h4>
                            <span>Cho đơn hàng từ 1.5 triệu</span>
                        </div>
                        <div>
                            <p>HSD: 15/07/2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
