.order-detail {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    color: var(--text-color);
    .product-infor {
        margin: 15px 0;
        img {
            height: 80px;
            width: 80px;
        }
        p {
            font-size: 17px;
            line-height: 22px;
            margin: 0;
            color: black;
            span {
                line-height: 22px;
            }
        }
        span {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .more-infor {
        p {
            padding: 10px;
            margin: 0;
            font-size: 15px;
        }
    }
}
