<div class="office-supplies">
    <div class="width">
        <div class="order-detail">
            <div class="flex justify-content-between">
                <p-button icon="pi pi-chevron-left" label="TRỞ LẠI"></p-button>
                <p>Thời gian yêu cầu: 07/07/2023</p>
            </div>
            <div class="product-infor flex">
                <img src="../../../assets/img/introduce/mouse.jpg" alt="" />
                <div class="px-2 w-full flex flex-column justify-content-between">
                    <div class="flex justify-content-between">
                        <p>Chuột máy tính siêu nhạy cho dân văn phòng, với 3 mức DPI siêu nhạy</p>
                        <p class="text-teal-600">Đã hủy đơn hàng</p>
                    </div>
                    <div class="flex justify-content-between">
                        <span>Danh mục: chuột gaming</span>
                        <p class="text-orange-500">234.222 VND</p>
                    </div>
                    <p><span>Số lượng: 1</span></p>
                </div>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">
                    Phương thức thanh toán
                </p>
                <p class="w-20rem text-right">Chưa thanh toán</p>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">Mã đơn hàng</p>
                <p class="w-20rem text-right">ASAB1122AASSC</p>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">Lý do hủy</p>
                <p class="w-20rem text-right">Thay đổi phương thức thanh toán</p>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">Tổng tiền hàng</p>
                <p class="w-20rem text-right">111111 VND</p>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">Voucher giảm giá</p>
                <p class="w-20rem text-right">20000 VND</p>
            </div>

            <div class="flex justify-content-between more-infor border-none border-bottom-1 border-dashed border-500">
                <p class="flex-1 text-right border-none border-right-1 border-dashed border-500">Thành tiền</p>
                <p class="w-20rem text-right text-orange-500 text-xl">2323232 VND</p>
            </div>
        </div>
    </div>
</div>
