@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.scss';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serifs;
    background-color: #f5f5f5;
}

.width {
    margin: auto;
    width: 1190px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 10px;
}

.border-img {
    border: 1px solid var(--surface-border);
}

.border-bottom-img {
    border-bottom: 1px solid var(--surface-border);
}

del {
    text-decoration: line-through;
    text-align: center;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-progress-spinner {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    width: 200px !important;
    margin-top: -100px !important;
    margin-left: -100px !important;
}

.p-fieldset {
    border-radius: 0 !important;
}

.p-fieldset-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.p-inputtext {
    font-size: 15px !important;
    padding: 0.65rem !important;
}

.p-dropdown-items {
    li {
        span {
            font-size: 15px !important;
        }
    }
}

.p-button-label {
    font-size: 15px !important;
}

.p-button {
    padding: 0.55rem 1.25rem !important;
}

.p-tag {
    background-color: white !important;
    font-size: 16px !important;
    color: var(--text-color) !important;
    cursor: pointer;
}

.p-inputnumber-input {
    text-align: center;
}

.office-supplies {
    .p-galleria {
        max-width: 100% !important;
    }

    .p-galleria-item {
        img {
            height: 500px !important;
            object-fit: cover;
        }
    }

    .grid-nogutter {
        img {
            height: 100px !important;
            object-fit: cover;
        }
    }

    .header-top {
        .menu-account {
            .p-element {
                .ng-star-inserted {
                    border-radius: 0px !important;
                }
            }
            ul {
                li {
                    span {
                        font-size: 13px !important;
                        font-weight: 500;
                    }
                }
            }
            .p-overlay {
                top: 0px !important;
                padding-top: 45px;
                left: 0 !important;
            }
        }
    }

    .header-center-content {
        .search {
            .p-input-icon-right {
                width: 578px !important;
                .p-inputtext {
                    width: 100% !important;
                }
            }
        }
        .cart {
            .p-overlay {
                top: 0px !important;
                padding-top: 50px;
                right: 0 !important;
                left: auto !important;
                width: 400px;
            }
        }

        .search {
            .p-overlay {
                top: 0px !important;
                padding-top: 50px;
                right: 0 !important;
                left: 0 !important;
            }
        }
    }

    .header-category {
        ul {
            li {
                span {
                    font-size: 14px !important;
                    font-weight: 500;
                }
            }
            .p-overlay {
                top: 0px !important;
                padding-top: 50px;
                right: 0 !important;
                left: 0 !important;
            }
        }
    }

    .outstanding {
        .p-divider-content {
            background-color: #f5f5f5;
            .p-tag:hover {
                color: #fd7e14;
            }
        }
    }

    .content {
        .content-center,
        .content-left {
            .p-toggleable-content {
                height: 590px;
            }
        }
    }

    .text-lg {
        font-size: 16px !important;
    }

    .p-fieldset-legend {
        padding: 0.5rem !important;
        background-color: #fb7b46 !important;
        span {
            color: white;
        }
    }

    .suggest {
        .p-divider-content {
            background-color: #f5f5f5;
        }
    }

    .product-detail {
        .buy-product {
            .p-inputtext {
                width: 212px !important;
            }
        }
    }

    .list-category {
        .field-checkbox {
            margin-bottom: 0 !important;
            padding-left: 30px;
            font-size: 15px;
        }
    }

    .carts {
        .p-inputnumber-input {
            width: 50px !important;
        }
    }

    .order-status {
        .p-tabview-panel {
            min-height: 300px;
        }
    }

    .sign-up {
        .p-inputtext {
            width: 194.78px !important;
        }

        .email,
        .address {
            width: 423px !important;
        }
    }

    .change-password {
        .p-password {
            width: 100% !important;
        }
        .p-inputtext {
            width: 100% !important;
        }
    }

    .login {
        .p-inputtext {
            width: 352px;
        }
    }

    .checkout {
        .field-checkbox {
            margin-bottom: 0px !important;
        }
    }
}

.office-supplies-admin {
    .header-center {
        .p-inputtext {
            width: 450px !important;
        }
    }

    .title {
        height: 41px;
        background-color: #3b82f6;
        margin-bottom: 10px;
        .tilte-left {
            width: 48px;
        }

        .tilte-right {
            display: flex;
            flex: 1;
            h2 {
                margin: auto;
                text-align: center;
                color: white;
                font-size: 18px;
            }
        }
    }

    .crud-category,
    .crud-product,
    .crud-promotion {
        .category,
        .product,
        .promotion {
            .p-fileupload-buttonbar {
                display: flex;
                padding: 1rem;
            }
            .p-fileupload-choose {
                margin: auto;
            }
            .p-fileupload-content {
                width: 319px;
                padding: 1rem 1rem !important;
            }
            .ng-star-inserted {
                text-align: center;
            }

            .p-number {
                .p-element {
                    width: 100% !important;
                    .p-inputnumber {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .create-user {
        .p-password,
        .p-inputtext {
            width: 100%;
        }
    }
}
