<div class="office-supplies-admin">
    <div class="admin flex">
        <div class="nav">
            <div>
                <h3 class="cursor-pointer" routerLink="/admin">Office Supplies Admin</h3>
                <p-panelMenu [model]="function" [style]="{ width: '300px' }"></p-panelMenu>
            </div>
        </div>
        <div class="admin-right">
            <header class="flex">
                <div class="header-left flex cursor-pointer" routerLink="/admin">
                    <img src="../../assets/img/pen.png" alt="" />
                    <div>
                        <h2>OFFICE SUPPLIES</h2>
                        <h4>Thiết bị văn phòng</h4>
                    </div>
                </div>
                <div class="user" routerLink="/admin/user-infor">
                    <div class="user-infor" *ngIf="currentUser">
                        <p>{{ currentUser.firstName + ' ' + currentUser.lastName }}</p>
                        <span><i class="pi pi-unlock"></i>{{ currentUser.roles[0] }}</span>
                    </div>
                </div>
            </header>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
