<div class="office-supplies-admin">
    <div class="create-user">
        <div class="title">
            <h2><i class="pi pi-stop-circle"></i>Tạo mới người dùng</h2>
        </div>
        <div class="user">
            <div class="col-3">
                <span class="font-bold block mb-2">Email</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập email" />
            </div>
            <div class="col-3">
                <span class="font-bold block mb-2">Tên đăng nhập</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập tên đăng nhập" />
            </div>
            <div class="col-3">
                <span class="font-bold block mb-2">Số điện thoại</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập số điện thoại" />
            </div>
            <div class="col-3">
                <span class="font-bold block mb-2">Tên</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập tên" />
            </div>
            <div class="col-3">
                <span class="font-bold block mb-2">Họ</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập họ" />
            </div>
            <div class="col-3">
                <span class="font-bold block mb-2">Địa chỉ</span>
                <input type="text" class="w-full" pInputText placeholder="Nhập địa chỉ" />
            </div>
            <div class="col-3">
                <div class="flex-auto">
                    <span class="font-bold block mb-2">Loại tài khoản </span>
                    <p-dropdown
                        appendTo="body"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Chọn loại tài khoản"
                        [virtualScrollItemSize]="38"
                        styleClass="w-full"
                    ></p-dropdown>
                </div>
            </div>
        </div>
        <div class="card flex justify-content-center p-2">
            <p-button label="Tạo"></p-button>
        </div>
    </div>
</div>
