<div class="office-supplies-admin">
    <div class="create-user">
        <div class="flex title">
            <div class="tilte-right">
                <h2>Tạo mới người dùng</h2>
            </div>
        </div>
        <form [formGroup]="createUserForm">
            <div class="user">
                <div class="col-3">
                    <span class="font-bold block mb-2">Tên</span>
                    <input type="text" class="w-full" pInputText placeholder="Nhập tên" formControlName="firstName" />
                </div>
                <div class="col-3">
                    <span class="font-bold block mb-2">Họ</span>
                    <input type="text" class="w-full" pInputText placeholder="Nhập họ" formControlName="lastName" />
                </div>
                <div class="col-3">
                    <span class="font-bold block mb-2">Email</span>
                    <input type="text" class="w-full" pInputText placeholder="Nhập email" formControlName="email" />
                </div>

                <div class="col-3">
                    <span class="font-bold block mb-2">Mật khẩu</span>
                    <p-password [toggleMask]="true" placeholder="Mật khẩu" formControlName="password"></p-password>
                </div>

                <div class="col-3">
                    <span class="font-bold block mb-2">Nhập lại mật khẩu</span>
                    <p-password
                        [toggleMask]="true"
                        [feedback]="false"
                        placeholder="Nhập lại mật khẩu"
                        formControlName="confirmPassword"
                    ></p-password>
                </div>
                <div class="col-3">
                    <span class="font-bold block mb-2">Số điện thoại</span>
                    <p-inputMask
                        mask="(999) 999-9999"
                        placeholder="(999) 999-9999"
                        formControlName="phoneNumber"
                    ></p-inputMask>
                </div>
                <div class="col-3">
                    <span class="font-bold block mb-2">Địa chỉ</span>
                    <textarea rows="3" pInputTextarea placeholder="Nhập địa chỉ" formControlName="address"></textarea>
                </div>
                <div class="col-3">
                    <div class="flex-auto">
                        <span class="font-bold block mb-2">Loại tài khoản </span>
                        <p-dropdown
                            [options]="roles"
                            appendTo="body"
                            placeholder="Chọn loại tài khoản"
                            [virtualScrollItemSize]="38"
                            styleClass="w-full"
                            formControlName="role"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </form>
        <div class="card flex justify-content-center p-2">
            <p-button label="Tạo" (onClick)="createUser()"></p-button>
        </div>
    </div>
</div>
