<div class="office-supplies">
    <div class="flex py-5">
        <div class="sign-up">
            <form [formGroup]="signUpForm">
                <h3>Tạo tài khoản</h3>
                <p *ngIf="!currentPage">Bạn đã có tài khoản, đăng nhập <span routerLink="/login">Tại đây</span></p>

                <div class="flex">
                    <input
                        class="w-12rem block m-3"
                        type="text"
                        pInputText
                        placeholder="Họ"
                        formControlName="firstName"
                    />
                    <input
                        class="w-12rem block m-3"
                        type="text"
                        pInputText
                        placeholder="Tên"
                        formControlName="lastName"
                    />
                </div>

                <div class="flex">
                    <p-inputMask
                        class="w-12rem block m-3"
                        mask="(999) 999-9999"
                        placeholder="(999) 999-9999"
                        formControlName="phoneNumber"
                    ></p-inputMask>
                    <input
                        class="w-12rem block m-3"
                        type="email"
                        pInputText
                        placeholder="Email"
                        formControlName="email"
                    />
                </div>

                <div class="flex">
                    <div class="card flex justify-content-center block m-3">
                        <p-password [toggleMask]="true" placeholder="Mật khẩu" formControlName="password"></p-password>
                    </div>

                    <div class="card flex justify-content-center block m-3">
                        <p-password
                            [toggleMask]="true"
                            [feedback]="false"
                            placeholder="Nhập lại mật khẩu"
                            formControlName="confirmPassword"
                        ></p-password>
                    </div>
                </div>

                <div class="card flex justify-content-center">
                    <textarea
                        class="w-423 address"
                        rows="3"
                        pInputTextarea
                        placeholder="Nhập địa chỉ"
                        formControlName="address"
                    ></textarea>
                </div>
                <p-button styleClass="m-3 " label="Đăng ký" (onClick)="signUp()"></p-button>
            </form>
        </div>
    </div>
</div>
