<div class="office-supplies">
    <div class="width flex py-5">
        <div class="sign-up">
            <h3>Đăng ký</h3>
            <p>Bạn đã có tài khoản, đăng nhập <span routerLink="/login">Tại đây</span></p>

            <input class="w-22rem block m-3" type="text" pInputText placeholder="Họ" />
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Tên" />
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Email" />
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Số điện thoại" />
            <input class="w-22rem block m-3" type="text" pInputText placeholder="Mật khẩu" />

            <p-button styleClass="m-3" label="Đăng ký"></p-button>
        </div>
    </div>
</div>
