.crud-category {
    .category {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .col-2 {
            margin: auto;
            width: 319px;
            padding: 10px 0;
            .img-name {
                width: 285px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
