.order-status {
    margin: 10px 0;
    .all-order {
        border-bottom: 1px solid blue;
        padding: 10px;
        .product-infor {
            img {
                height: 80px;
                width: 80px;
            }
            p {
                font-size: 17px;
                line-height: 22px;
                margin: 0;
                color: black;
                span {
                    line-height: 22px;
                }
            }
            span {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }

    .all-order:last-child {
        border: none;
    }
}
