.list-category {
    padding: 10px 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            line-height: 30px;
            // font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }

        li:hover {
            background-color: #f5f5f5;
        }
    }

    .category-left {
        flex: 1;
        .filter {
            ul {
                li {
                    padding-left: 30px;
                    font-weight: 400;
                    i {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .category-right {
        flex: 3;
        p {
            font-size: 20px;
            font-weight: 500;
        }

        .categogy-header {
            margin-bottom: 20px;
            display: flex;
            p {
                margin: auto;
            }
        }

        .category-content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .col-3 {
                width: calc(33.333% - 10px);
                padding: 0;
                background-color: white;
                margin: 5px;
                cursor: pointer;
                p {
                    font-size: 15px;
                    font-weight: 500;
                    padding: 0 10px;
                    color: var(--text-color);
                }

                img {
                    height: 180px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
