<div class="office-supplies">
    <div class="list-category">
        <div class="width">
            <div class="grid flex justify-content-between">
                <div class="col category">
                    <div class="pb-2 categogy-header flex justify-content-between border-bottom-1 border-400">
                        <p class="uppercase">{{ categoryName }}</p>
                    </div>

                    <div class="category-content">
                        <div class="col-4" *ngFor="let item of products">
                            <div (click)="productDetail(item.id)">
                                <img src="{{ item.imageURL }}" alt="" />
                                <div class="tilte">
                                    <p class="text-overflow">{{ item.productName }}</p>
                                </div>
                                <p>
                                    <b>{{ item.price | number : '1.0-3' }} VND</b>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card flex justify-content-center m-2">
                        <p-paginator
                            (onPageChange)="loadProducts($event)"
                            [first]="first"
                            [rows]="8"
                            [totalRecords]="totalRecords"
                            [rowsPerPageOptions]="[8, 16, 24]"
                        ></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
