.introduce {
    padding: 15px 0px;
    box-sizing: border-box;
    width: 100%;
}

.outstanding {
    cursor: pointer;
    padding-bottom: 10px;
    .outstanding-content {
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        }

        .tilte {
            background-color: #252e4b;
            color: white;
            height: 40px;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 10px;
            box-shadow: 2px 2px 5px 1px #fd7e14;
            p {
                font-size: 14px;
                font-weight: 600;
            }
            p:hover {
                color: #fd7e14;
            }
        }
    }
}

.new-product {
    padding: 10px 0;
    .col {
        cursor: pointer;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
        }
        .tilte {
            p {
                margin: 0;
                line-height: 30px;
                width: 273px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

/* ======= hot-product ====== */
.hot-product {
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
    border-radius: 12px;
}

.hot-product .content {
    padding: 6px 10px 20px 10px;
}

.hot-product .header .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #000339;
}

.hot-product .list {
    margin-top: 20px;
    gap: 12px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.hot-product .list .item {
    width: 18%;
    background: #ffffff;
    border-radius: 6px;
    position: relative;
}

.hot-product .list .item .body {
    padding: 17px 20px 23px;
}

.hot-product .list .item .product-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.hot-product .item .hot {
    position: absolute;
    right: 0;
    background-color: #ec5c4f;
    padding: 4px;
    border-radius: 2px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 51% 74%, 0 100%, 0 0);
    color: #fae2dc;
    font-weight: 600;
}

.hot-product .item h4 {
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.4;
    font-size: 14px;
    height: 40px;
    color: #000339;
}

.hot-product .item .price {
    margin-top: 11px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #d0021c;
}

.hot-product .list .item:hover {
    cursor: pointer;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0px, -2px, 0px);
}

// .content {
//     display: flex;
//     padding: 10px 0;
//     justify-content: space-between !important;
//     .content-left {
//         flex: 3;
//         cursor: pointer;
//         box-sizing: border-box;
//         .top-product {
//             .top-product-left {
//                 img {
//                     height: 170px;
//                     width: 190px;
//                     object-fit: cover;
//                     margin-right: 10px;
//                 }
//                 .position {
//                     position: absolute;
//                     background-color: #fd7e14;
//                     color: white;
//                     opacity: 0.8;
//                     top: 10px;
//                     left: 10px;
//                     display: flex;
//                     font-size: 20px;
//                     padding: 10px;
//                     border-radius: 10px;
//                 }
//             }
//             .top-product-right {
//                 line-height: 30px;
//                 font-size: 14px;
//                 font-size: 15px;
//                 p {
//                     margin: 0;
//                     font-weight: bold;
//                     color: black !important;
//                     width: 520px;
//                     font-size: 16px;
//                     line-height: 40px;
//                     padding-bottom: 10px;
//                 }
//                 b {
//                     display: block;
//                 }
//                 span {
//                     display: inline-block;
//                     line-height: 22px;
//                 }
//             }
//         }
//     }
//     .content-right {
//         flex: 1;
//         flex-direction: row;
//         height: 645px;
//         ul {
//             list-style: none;
//             padding: 0;
//             margin: 0;
//             li {
//                 line-height: 32px;
//                 font-size: 15px;
//                 i {
//                     padding-right: 10px;
//                 }
//             }
//         }
//     }
// }

.suggest {
    padding-bottom: 20px;
    height: 895px;
}
