.introduce {
    padding: 15px 0px;
    box-sizing: border-box;
    width: 100%;
}

.outstanding {
    cursor: pointer;
    padding-bottom: 10px;
    .outstanding-content {
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        }

        .tilte {
            background-color: #252e4b;
            color: white;
            height: 40px;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 10px;
            box-shadow: 2px 2px 5px 1px #fd7e14;
            p {
                font-size: 14px;
                font-weight: 600;
            }
            p:hover {
                color: #fd7e14;
            }
        }
    }
}

.new-product {
    padding: 10px 0;
    .col {
        cursor: pointer;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        img {
            height: 170px;
            width: 100%;
            object-fit: cover;
        }
        .tilte {
            p {
                margin: 0;
                line-height: 30px;
                width: 273px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

/* ======= hot-product ====== */
.product-view {
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
    border-radius: 12px;
}

.suggest {
    padding-bottom: 20px;
    //height: 895px;
}
