<div class="office-supplies">
    <div class="width">
        <div class="introduce">
            <div class="card">
                <p-galleria
                    [value]="images"
                    [autoPlay]="true"
                    [circular]="true"
                    [responsiveOptions]="responsiveOptions"
                    [numVisible]="5"
                    [containerStyle]="{ 'max-width': '640px' }"
                >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        <body>
            <div class="outstanding">
                <p-divider align="center">
                    <span class="p-tag">TOP danh mục nổi bật</span>
                </p-divider>
                <div class="grid flex justify-content-between">
                    <div class="col relative">
                        <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                        <div class="tilte"><p>Bàn phím</p></div>
                    </div>
                    <div class="col relative">
                        <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                        <div class="tilte"><p>Chuột gaming</p></div>
                    </div>
                    <div class="col relative">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte"><p>Màn hình laptop</p></div>
                    </div>
                </div>
            </div>

            <div class="new-product">
                <div class="card">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex align-items-center text-primary">
                                <span class="pi pi-hashtag mr-2"></span>
                                <span class="font-bold text-lg">Top sản phẩm mới về</span>
                            </div>
                        </ng-template>
                        <div class="grid flex justify-content-between">
                            <div class="col relative">
                                <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                                <div class="tilte">
                                    <p>Bàn phím</p>
                                    <p><b>345666 VND</b></p>
                                </div>
                            </div>
                            <div class="col relative">
                                <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                <div class="tilte">
                                    <p>Chuột gaming</p>
                                    <p><b>345666 VND</b></p>
                                </div>
                            </div>
                            <div class="col relative">
                                <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                                <div class="tilte">
                                    <p>Màn hình laptop</p>
                                    <p><b>345666 VND</b></p>
                                </div>
                            </div>
                            <div class="col relative">
                                <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                                <div class="tilte">
                                    <p>Màn hình laptop</p>
                                    <p><b>345666 VND</b></p>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="content">
                <div class="content-left">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-verified mr-2"></span>
                                <span class="font-bold text-lg">Khuyến mãi hôm nay</span>
                            </div>
                        </ng-template>
                        <div class="product">
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                            <div class="flex border-bottom-1 pt-1 border-400">
                                <div class="product-left">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                </div>
                                <div class="product-right">
                                    <p>Máy tính gaming</p>
                                    <b>34.333.333 | <del>111111</del></b>
                                    <p>VND</p>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="content-center">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-hashtag mr-2"></span>
                                <span class="font-bold text-lg">Top sản phẩm bán chạy</span>
                            </div>
                        </ng-template>
                        <div class="top-product">
                            <div class="flex p-2 border-400 border-bottom-1">
                                <div class="top-product-left relative">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                    <div class="position">#1</div>
                                </div>

                                <div class="top-product-right">
                                    <p>Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính</p>
                                    <b>34.333.333 | <del>111111</del> VND</b>
                                    <span
                                        >Giới thiệu sản phẩm Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính F147 (Hoa
                                        văn Thổ cẩm).</span
                                    >
                                </div>
                            </div>
                            <div class="flex p-2 border-400 border-bottom-1">
                                <div class="top-product-left relative">
                                    <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                                    <div class="position">#2</div>
                                </div>
                                <div class="top-product-right">
                                    <p>Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính</p>
                                    <b>34.333.333 | <del>111111</del> VND</b>
                                    <span
                                        >Giới thiệu sản phẩm Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính F147 (Hoa
                                        văn Thổ cẩm).</span
                                    >
                                </div>
                            </div>
                            <div class="flex p-2 border-400 border-bottom-1">
                                <div class="top-product-left relative">
                                    <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                                    <div class="position">#3</div>
                                </div>
                                <div class="top-product-right">
                                    <p>Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính</p>
                                    <b>34.333.333 | <del>111111</del> VND</b>
                                    <span
                                        >Giới thiệu sản phẩm Túi vải đựng bút chì, bút vẽ cuộn tròn cá tính F147 (Hoa
                                        văn Thổ cẩm).</span
                                    >
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="content-right">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-whatsapp mr-2"></span>
                                <span class="font-bold text-lg">Hỗ trợ trực tuyến</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li>
                                <i class="pi pi-mobile text-red-700"></i>Hotline:
                                <a class="no-underline text-color" href="tel:0123456789">0989828527</a>
                            </li>
                            <li><i class="pi pi-facebook text-cyan-500"></i>Dương Văn Tính</li>
                            <li><i class="pi pi-instagram text-purple-500"></i>Dương Văn Tính</li>
                            <li><i class="pi pi-twitter text-blue-400"></i>Dương Văn Tính</li>
                        </ul>
                    </p-fieldset>

                    <p-fieldset class="p-2">
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-check-circle mr-2"></span>
                                <span class="font-bold text-lg">Chính sách hỗ trợ</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li><i class="pi pi-car text-red-700"></i>Giao hàng miễn phí</li>
                            <li><i class="pi pi-bolt text-primary-500"></i>Hỗ trợ 24/7</li>
                            <li><i class="pi pi-clock text-primary-500"></i>Đổi trả vòng vòng 7 ngày</li>
                            <li><i class="pi pi-check-circle text-yellow-500"></i>Đồng kiểm</li>
                        </ul>
                    </p-fieldset>

                    <p-fieldset class="p-2">
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-briefcase mr-2"></span>
                                <span class="font-bold text-lg">Đơn vị vận chuyển</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li><i class="pi pi-truck text-orange-500"></i>Giao hàng tiết kiệm</li>
                            <li><i class="pi pi-truck text-green-600"></i>Giao hàng nhanh</li>
                            <li><i class="pi pi-truck text-yellow-500"></i>VN Post</li>
                            <li><i class="pi pi-truck text-orange-500"></i>Shoppe Express</li>
                        </ul>
                    </p-fieldset>
                </div>
            </div>
            <div class="suggest">
                <p-divider align="center">
                    <span class="p-tag">DÀNH RIÊNG CHO BẠN</span>
                </p-divider>
                <div class="suggest-product">
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/keyboard.jpg" alt="" />
                        <div class="tilte">
                            <p>Bàn phím</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/mouse.webp" alt="" />
                        <div class="tilte">
                            <p>Chuột gaming</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="../../assets/img/outstanding/pc.jpeg" alt="" />
                        <div class="tilte">
                            <p>Màn hình laptop</p>
                            <p><b>345666 VND</b></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card flex justify-content-center pb-4">
                <button pButton pRipple label="Xem thêm"></button>
            </div>
        </body>
    </div>
</div>
