<div class="office-supplies">
    <div class="width">
        <div class="introduce">
            <div class="card">
                <p-galleria
                    [value]="images"
                    [autoPlay]="true"
                    [circular]="true"
                    [responsiveOptions]="responsiveOptions"
                    [numVisible]="5"
                    [containerStyle]="{ 'max-width': '640px' }"
                >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        <body>
            <div class="outstanding">
                <p-divider align="center">
                    <span class="p-tag">TOP danh mục nổi bật</span>
                </p-divider>
                <div class="grid flex justify-content-between outstanding-content">
                    <div class="col relative" *ngFor="let item of topCategories">
                        <div (click)="product(item)">
                            <img src="{{ item.imageURL }}" alt="" />
                            <div class="tilte">
                                <p>{{ item.categoryName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-product">
                <div class="">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex align-items-center text-primary">
                                <span class="pi pi-hashtag mr-2"></span>
                                <span class="font-bold text-lg">Top sản phẩm mới về</span>
                            </div>
                        </ng-template>
                        <div class="grid flex justify-content-between">
                            <div class="col relative" *ngFor="let item of topNewProducts">
                                <div (click)="productDetail(item.id)">
                                    <img src="{{ item.imageURL }}" alt="" />
                                    <div class="tilte">
                                        <p>{{ item.productName }}</p>
                                        <p>
                                            <b>{{ item.price | number : '1.0-3' }} VND</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="content">
                <div class="content-center">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-hashtag mr-2"></span>
                                <span class="font-bold text-lg">Top sản phẩm bán chạy</span>
                            </div>
                        </ng-template>
                        <div class="top-product">
                            <div *ngFor="let item of topProducts; let i = index">
                                <div class="flex p-2 border-400 border-bottom-1" (click)="productDetail(item.id)">
                                    <div class="top-product-left relative">
                                        <img src="{{ item.imageURL }}" alt="" />
                                        <div class="position">#{{ i + 1 }}</div>
                                    </div>

                                    <div class="top-product-right">
                                        <p class="text-overflow">{{ item.productName }}</p>
                                        <b>{{ item.price | number : '1.0-3' }} VND</b>
                                        <span>{{ item.productDescription }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="content-right">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-whatsapp mr-2"></span>
                                <span class="font-bold text-lg">Hỗ trợ trực tuyến</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li>
                                <i class="pi pi-mobile text-red-700"></i>Hotline:
                                <a class="no-underline text-color" href="tel:0123456789">0989828527</a>
                            </li>
                            <li><i class="pi pi-facebook text-cyan-500"></i>Dương Văn Tính</li>
                            <li><i class="pi pi-instagram text-purple-500"></i>Dương Văn Tính</li>
                            <li><i class="pi pi-twitter text-blue-400"></i>Dương Văn Tính</li>
                        </ul>
                    </p-fieldset>

                    <p-fieldset class="p-2">
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-check-circle mr-2"></span>
                                <span class="font-bold text-lg">Chính sách hỗ trợ</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li><i class="pi pi-car text-red-700"></i>Giao hàng miễn phí</li>
                            <li><i class="pi pi-bolt text-primary-500"></i>Hỗ trợ 24/7</li>
                            <li><i class="pi pi-clock text-primary-500"></i>Đổi trả vòng vòng 7 ngày</li>
                            <li><i class="pi pi-check-circle text-yellow-500"></i>Đồng kiểm</li>
                        </ul>
                    </p-fieldset>

                    <p-fieldset class="p-2">
                        <ng-template pTemplate="header">
                            <div class="flex text-primary">
                                <span class="pi pi-briefcase mr-2"></span>
                                <span class="font-bold text-lg">Đơn vị vận chuyển</span>
                            </div>
                        </ng-template>
                        <ul>
                            <li><i class="pi pi-truck text-orange-500"></i>Giao hàng tiết kiệm</li>
                            <li><i class="pi pi-truck text-green-600"></i>Giao hàng nhanh</li>
                            <li><i class="pi pi-truck text-yellow-500"></i>VN Post</li>
                            <li><i class="pi pi-truck text-orange-500"></i>Shoppe Express</li>
                        </ul>
                    </p-fieldset>
                </div>
            </div>
            <div class="suggest">
                <p-divider align="center">
                    <span class="p-tag">DÀNH RIÊNG CHO BẠN</span>
                </p-divider>
                <div class="suggest-product">
                    <div class="col-5" *ngFor="let item of recommededProducts">
                        <div (click)="productDetail(item.id)">
                            <img src="{{ item.imageURL }}" alt="" />
                            <div class="tilte">
                                <p>{{ item.productName }}</p>
                                <p>
                                    <b>{{ item.price | number : '1.0-3' }} VND</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card flex justify-content-center pb-4">
                <button (click)="viewProducts()" pButton pRipple label="Xem thêm"></button>
            </div>
        </body>
    </div>
</div>
