<div class="office-supplies">
    <div class="flex py-5">
        <div class="change-password">
            <form [formGroup]="forgotPasswordForm">
                <h3>Thay đổi mật khẩu</h3>

                <div class="flex flex-column gap-2 w-22rem block m-3 text-left">
                    <label>Mật khẩu cũ</label>
                    <input
                        pInputText
                        id="phone"
                        aria-describedby="username-help"
                        placeholder="Nhập mật khẩu cũ"
                        formControlName="oldPassword"
                    />
                </div>

                <div class="flex flex-column gap-2 w-22rem block m-3 text-left">
                    <label>Mật khẩu mới</label>
                    <p-password
                        styleClass=""
                        [toggleMask]="true"
                        placeholder="Nhập mật khẩu mới"
                        formControlName="newPassword"
                    ></p-password>
                </div>

                <div class="flex flex-column gap-2 w-22rem block m-3 text-left">
                    <label>Nhập lại mật khẩu</label>
                    <p-password
                        styleClass=""
                        [toggleMask]="true"
                        placeholder="Nhập lại mật khẩu"
                        [feedback]="false"
                        formControlName="confirmNewPassword"
                    ></p-password>
                </div>

                <p-button styleClass="m-3 " label="Lưu" (onClick)="changePassword()"></p-button>
            </form>
        </div>
    </div>
</div>
