<div class="office-supplies">
    <footer>
        <div class="grid width flex flex-wrap">
            <div class="col">
                <h4>Về chúng tôi</h4>
                <p>
                    Công ty TNHH TM DV Minh Anh giấy chứng nhận đăng ký kinh doanh số 0303208007 do Sở Kế hoạch và Đầu
                    tư tỉnh Nghệ An cấp lần đầu ngày 25/02/2024. Được thành lập vào ngày 25 tháng 02 năm 2024 là Nhà
                    Phân phối chính thức các sản phẩm thiết bị văn phòng phẩm.
                </p>
            </div>
            <div class="col">
                <h4>Sản Phẩm Chủ Lực</h4>
                <ul>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Máy photocopy</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Máy in</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Bìa sách</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Bút dạ quang</li>
                </ul>
            </div>
            <div class="col">
                <h4>Thông Tin Cần Biết</h4>
                <ul>
                    <li><i class="pi pi-briefcase" style="font-size: 0.8rem"></i>Hồ sơ năng lực</li>
                    <li><i class="pi pi-info-circle" style="font-size: 0.8rem"></i>Giới thiệu</li>
                    <li><i class="pi pi-map-marker" style="font-size: 0.8rem"></i>Vị trí</li>
                    <li><i class="pi pi-send" style="font-size: 0.8rem"></i>Liên hệ</li>
                </ul>
            </div>
            <div class="col">
                <h4>Công Ty TNHH TM DV Minh Anh</h4>
                <ul>
                    <li><i class="pi pi-building" style="font-size: 0.8rem"></i>28, Lạc Long Quân, Vinh, Nghệ An</li>
                    <li><i class="pi pi-phone" style="font-size: 0.8rem"></i>Điện thoại: (+84) 935 509 777</li>
                    <li><i class="pi pi-phone" style="font-size: 0.8rem"></i>Hotline: (+84) 935 509 777</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.8rem"></i>E-mail: admin@minhanh.vn</li>
                    <li><i class="pi pi-envelope" style="font-size: 0.8rem"></i>FaceBook</li>
                    <li><i class="pi pi-map" style="font-size: 0.8rem"></i>Bản đồ Map google</li>
                </ul>
            </div>
        </div>
    </footer>
</div>
