<div class="office-supplies">
    <footer>
        <div class="grid width flex flex-wrap">
            <div class="col">
                <h4>Về chúng tôi</h4>
                <p>Được thành lập vào ngày 30/06/2023 với niềm đam mê và khát vọng thành công trong lĩnh vực TMĐT</p>
                <p>
                    <i class="pi pi-map-marker" style="font-size: 1rem"></i>97 Man Thiện - Hiệp Phú - Tp.Thủ Đức - Hồ
                    Chí Minh
                </p>
            </div>
            <div class="col">
                <h4>Chính sách</h4>
                <ul>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Danh mục sản phẩm</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Giới thiệu</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Vị trí</li>
                    <li><i class="pi pi-caret-right" style="font-size: 0.6rem"></i>Liên hệ</li>
                </ul>
            </div>
            <div class="col">
                <h4>Thông tin</h4>
                <p class="cursor-pointer">
                    <i class="pi pi-mobile" style="font-size: 1rem"></i
                    ><a class="no-underline text-white" href="tel:0123456789">0989828527</a>
                </p>
                <p class="cursor-pointer">
                    <i class="pi pi-envelope" style="font-size: 1rem"></i
                    ><a class="no-underline text-white" href="mailto:duongvantinh07072015@gmail.com"
                        >duongvantinh07072015@gmail.com</a
                    >
                </p>
            </div>
            <div class="col">
                <h4>Đăng ký nhận tin</h4>
                <p>Hãy đăng kí theo form dưới đây để nhận được tin tức và khuyến mại.</p>
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Email của bạn" />
                    <button type="button" pButton label="Đăng ký"></button>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="width flex bottom-content">
                <div class="footer-left">
                    <p>Bản quyền thuộc về Office Supplies</p>
                </div>
                <div class="footer-right">
                    <ul>
                        <li>Danh mục sản phẩm</li>
                        <li>Giới thiệu</li>
                        <li>Vị trí</li>
                        <li>Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
