<div class="office-supplies">
    <div class="carts">
        <div class="width">
            <h3><i class="pi pi-cart-plus" style="font-size: 1.5rem"></i>Giỏ hàng</h3>
            <p-table [value]="carts" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 450px">Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td (click)="productDetail(item.productId)" class="flex cart-product cursor-pointer">
                            <img src="{{ item.imageURL }}" alt="" />
                            <span>
                                <p>{{ item.productName }}</p>
                                <p (click)="deleteCart(item.id, $event)">
                                    <i class="pi pi-trash pr-2 text-red-600"></i>Xóa sản phẩm
                                </p>
                            </span>
                        </td>
                        <td>{{ item.price | number : '1.0-3' }} VND</td>
                        <td style="width: 100px">
                            <div class="flex justify-content-center">
                                <p-inputNumber
                                    [(ngModel)]="item.quantity"
                                    [showButtons]="true"
                                    buttonLayout="horizontal"
                                    spinnerMode="horizontal"
                                    inputId="horizontal"
                                    decrementButtonClass="p-button-secondary"
                                    incrementButtonClass="p-button-secondary"
                                    incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus"
                                    (onInput)="updateCart(carts, item.id, item.quantity)"
                                ></p-inputNumber>
                            </div>
                        </td>
                        <td>{{ item.price * item.quantity | number : '1.0-3' }} VND</td>
                    </tr>
                </ng-template>
            </p-table>
            <p class="text-right">
                Tổng tiền: <b class="text-red-500">{{ totalPrice | number : '1.0-3' }} VND</b>
            </p>
            <div class="cart-footer flex justify-content-end">
                <div class="card flex justify-content-center pb-4 pr-2">
                    <button routerLink="/products" pButton pRipple label="Tiếp tục mua hàng"></button>
                </div>
                <div class="card flex justify-content-center pb-4">
                    <button
                        routerLink="/checkout"
                        class="bg-orange-400 border-orange-400"
                        pButton
                        pRipple
                        label="Thanh toán"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
