<div class="office-supplies">
    <header>
        <div class="header-top">
            <div class="width">
                <ul>
                    <li routerLink="/order-status">
                        <i class="pi pi-map" style="font-size: 0.8rem"></i>Theo dõi đơn hàng
                    </li>
                    <li class="relative" (mouseenter)="accountVisible = true" (mouseleave)="accountVisible = false">
                        <i class="pi pi-user" style="font-size: 0.8rem"></i>Tài khoản
                        <div class="menu-account">
                            <p-overlay
                                [(visible)]="accountVisible"
                                [responsive]="{
                                    contentStyleClass: 'h-20rem'
                                }"
                                contentStyleClass="fadein animation-duration-300 animation-iteration-1 shadow-2 border-round"
                            >
                                <p-menu [model]="accountMenu"></p-menu>
                            </p-overlay>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-center width">
            <div routerLink="" class="header-logo">
                <img src="../../../assets/img/pen.png" alt="" />
                <div class="header-slogan">
                    <p class="text-orange-500">Office Supplies</p>
                    <span>Thiết bị văn phòng</span>
                </div>
            </div>
            <div class="header-center-content">
                <div class="content-menu">
                    <div class="header-category">
                        <ul>
                            <li
                                class="relative"
                                (mouseenter)="onMouseEnter('category')"
                                (mouseleave)="onMouseLeave('category')"
                            >
                                <i class="pi pi-list" style="font-size: 1rem"></i>Danh mục sản phẩm
                                <i class="pi pi-caret-right" style="font-size: 0.7rem"></i>
                                <div class="menu-category">
                                    <p-overlay
                                        [(visible)]="categoryVisible"
                                        [responsive]="{
                                            contentStyleClass: 'h-20rem'
                                        }"
                                        contentStyleClass="fadein animation-duration-300 animation-iteration-1 shadow-2 border-round"
                                    >
                                        <p-menu [model]="categoryMenu"></p-menu>
                                    </p-overlay>
                                </div>
                            </li>
                            <li routerLink="/introduce">
                                <i class="pi pi-info-circle" style="font-size: 1rem"></i>Giới thiệu
                            </li>
                            <li routerLink="/promotions">
                                <i class="pi pi-verified" style="font-size: 1rem"></i>Khuyến mãi
                            </li>
                            <li routerLink="/contact"><i class="pi pi-comment" style="font-size: 1rem"></i>Liên hệ</li>
                        </ul>
                    </div>
                </div>
                <div class="flex justify-content-between">
                    <div class="search">
                        <span class="p-input-icon-right relative">
                            <input type="text" pInputText placeholder="Tìm kiếm sản phẩm" />
                            <i class="pi pi-search"></i>
                            <div class="hidden">
                                <p-overlay
                                    [visible]="true"
                                    [responsive]="{
                                        contentStyleClass: 'h-20rem'
                                    }"
                                    contentStyleClass="p-4 surface-overlay shadow-2 border-round fadein animation-duration-300 animation-iteration-1"
                                >
                                    Content dhdhd dhhdhd hd dh dhd hd dhdh
                                </p-overlay>
                            </div>
                        </span>
                    </div>
                    <div class="cart relative" (mouseenter)="onMouseEnter('cart')" (mouseleave)="onMouseLeave('cart')">
                        <i class="pi pi-cart-plus" style="font-size: 2rem"></i>
                        <p>0 Sản phẩm</p>

                        <p-overlay
                            [(visible)]="cartVisible"
                            [responsive]="{
                                contentStyleClass: 'h-20rem'
                            }"
                            contentStyleClass="p-3 surface-overlay shadow-2 border-round"
                        >
                            <p class="text-base">Sản phẩm mới thêm</p>
                            <div>
                                <ul>
                                    <li>
                                        <img src="../../../assets/img/introduce/mouse.jpg" alt="" />
                                        <p>Chuột gaming hdhd dhdhdh dhdhdh dhdhd dhdhd</p>
                                        <span>244444 VND</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/introduce/mouse.jpg" alt="" />
                                        <p>Chuột gaming</p>
                                        <span>244444 VND</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/introduce/mouse.jpg" alt="" />
                                        <p>Chuột gaming</p>
                                        <span>244444 VND</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/introduce/mouse.jpg" alt="" />
                                        <p>Chuột gaming</p>
                                        <span>244444 VND</span>
                                    </li>
                                </ul>
                            </div>
                            <span class="hidden">
                                <p>Còn 2 sản phẩm khác</p>
                            </span>
                            <div class="flex justify-content-end">
                                <p-button label="Xem giỏ hàng"></p-button>
                            </div>
                        </p-overlay>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
